.contactdata > div > img {
    width: 35%;
    height: 35%;}
    
.btn-primary{margin-left: 60px ;margin-bottom: 60px}



/*.container4 {background: #eee;}
   /* margin-top:55px*/


.contact-footer {
    display: flex;
    margin-left: auto;
}

.containerct{height:auto}